*{
  box-sizing: border-box;
  background-color: aliceblue;
  margin: 0;
  padding: 0;
}
header{
  height: 60px;
  border-bottom:slategrey .1rem solid ;
 display: flex;
 flex-basis: 0;
 padding-left: 2rem;
 margin-top: 1.5rem;

}
header img{
  height: 15px;
  width: 15px;
  align-items:center;
  margin-right: 2rem;
}
header a{
  align-self: center;
}

main{
  display: flex;
  height: 100%;
  /* justify-content: space-between; */

}
h2{
  color: blue;
}

main .left-sidebar{
  margin-right: 2rem;
  width: 250px;
  height: 500px;
  border-right: slategray solid .1rem;
 
}

.left-sidebar ul li{
  border-bottom:slategray .1rem solid ;
 
  padding-right: 5rem;
  padding-left: 7px;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.left-sidebar ul li:last-child{
  border-bottom:lightsteelblue .1px solid;
}

main section{
  display: flex;
  flex-flow: column;
  justify-content: space-around;
}
section article{
  width: 600px;
  max-width: auto;
  min-width: 400px;
  border: .1rem gray solid;
  padding-left: 1rem;
  padding-top: .5rem;
  padding-bottom: .8rem;
  padding-right: 10rem;
  
}

main .right-sidebar{
  border-left: .2rem solid slategray;
  margin-left: 15rem;
}
.left-sidebar ul {
  list-style-type: none;
}

.right-sidebar ul{
  list-style-type: none;
}

.right-sidebar ul .list-1{
  border: .1rem solid gray;
  padding: 2rem;
  margin-left: 1rem;
  margin-top: 2rem;
}

.right-sidebar ul .list-2{
  border: .1rem solid gray;
  padding: 2rem;
  margin-left: 1rem;
  margin-top: 2rem;

}
footer{
  height: 100px;
  border: .2rem solid gray;
  display: flex;
  justify-content: flex-end;
  
}
footer ul {
  list-style-type: none;
}